* {
  background-color: black;
  color: white;
}

.question-card{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  width: inherit;
  margin: 0 1rem;
  padding: 1rem;
}

button{
  border-radius: .7rem;
  padding: 1rem;
  border: 1px solid white;
  margin: .7rem;
}

.answers-btn{
  display: flex;
}

.answers-btn button{
  width: auto;
  overflow:visible;
  padding: 1rem;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.number{
  text-align: left;
  width: 100%;
}


.score{
  text-align: right;
}